# ============================================
# GRADLE (ESTO ES LO MÁS IMPORTANTE)
# ============================================
.gradle/
build/
!gradle/wrapper/

.idea/
*.iml
*.iws
*.ipr
out/


/target/
!**/src/main/java/**/target/**
!**/src/test/java/**/target/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.log
logs/
**/logs/

node_modules/


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

docker-compose.override.yml
docker-compose.prod.yml
docker/compose.override.yml
.dockerignore

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


application-*.properties
application-*.yml
!application.yml
!application.properties

*.tmp
*.temp
*.bak
*.swp
*~

/flyway/
*.sql
!src/main/resources/db/migration/*.sql
!src/test/resources/db/migration/*.sql


dist/
lib/
libs/
*.jar
*.war
*.ear
*.zip

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*